<nav class="bg-neutral-primary fixed w-full z-20 top-0 start-0 border-b border-default">
  <div class="max-w-screen-xl flex items-center justify-between mx-auto p-4 gap-2">

    <a href="" class="flex items-center gap-3 shrink-0 group ">
      <div
        class="w-10 h-10 bg-maincolor rounded-xl flex items-center justify-center shadow-md transition-transform group-hover:scale-105">
        <i class="fa-solid fa-circle-nodes text-2xl text-white"></i>
      </div>

      <span class="self-center text-xl font-black tracking-tighter text-heading hidden sm:block uppercase">
        Nexus
      </span>
    </a>

    <div class="flex items-center justify-center flex-grow order-1">
      <ul
        class="font-medium flex flex-row p-1.5 space-x-1 sm:space-x-4 rtl:space-x-reverse bg-neutral-secondary-soft md:bg-secondColor/50 rounded-xl">

        <li>
          <a routerLink="/feed" routerLinkActive="text-maincolor bg-white shadow-sm"
            class="flex items-center py-2 px-3 text-gray-600 text-[14px] font-extrabold rounded-xl transition-all">
            <i class="fa-regular fa-house text-lg"></i>
            <span class="hidden lg:inline ms-2">Feed</span>
          </a>
        </li>

        <li>
          <a routerLink="/profile" routerLinkActive="text-maincolor bg-white shadow-sm"
            class="flex items-center py-2 px-3 text-gray-600 text-[14px] font-extrabold rounded-xl transition-all">
            <i class="fa-regular fa-user text-lg"></i>
            <span class="hidden lg:inline ms-2">Profile</span>
          </a>
        </li>

        <li class="relative">
          <a routerLink="/notification" routerLinkActive="text-maincolor bg-white shadow-sm"
            class="flex items-center py-2 px-3 text-gray-600 text-[14px] font-extrabold rounded-xl transition-all">
            <i class="fa-regular fa-bell text-lg"></i>
            <span class="hidden lg:inline ms-2">Notifications</span>

            @if(unreadCount > 0) {
            <span
              class="absolute top-0 right-0 -mt-1 -me-1 bg-red-500 text-white text-[10px] font-bold rounded-full w-5 h-5 flex items-center justify-center">
              {{ unreadCount }}
            </span>
            }
          </a>
        </li>


        <li class="lg:hidden">
          <a routerLink="/suggestions" routerLinkActive="text-maincolor bg-white shadow-sm"
            class="flex items-center py-2 px-3 text-gray-600 text-[14px] font-extrabold rounded-xl transition-all">
            <i class="fa-regular fa-lightbulb me-1"></i>
            <span class="hidden">Suggestions</span>
          </a>



        </li>

      </ul>
    </div>

    <div class="flex items-center order-2 shrink-0">
      <button type="button"
        class="flex items-center gap-2 px-2 py-1 bg-white border border-gray-200 rounded-full hover:bg-gray-50 transition-colors focus:ring-4 focus:ring-gray-100 shadow-sm"
        id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown">

        <img class="w-8 h-8 rounded-full object-cover shadow-sm" [src]="userPhoto" alt="user photo">

        <span class="text-sm font-bold text-gray-700 hidden md:block">
          {{ myProfile.name }}
        </span>

        <i class="fa-solid fa-bars text-gray-400 text-sm me-1"></i>
      </button>

      <div
        class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-xl shadow-xl border border-gray-100 w-48"
        id="user-dropdown">
        <div class="px-4 py-3">
          <span class="block text-sm font-bold text-gray-900">{{ myProfile.name }}</span>
          <span class="block text-xs text-gray-500 truncate">@{{ myProfile.username }}</span>
        </div>
        <ul class="py-2 text-sm font-medium" aria-labelledby="user-menu-button">
          <li>
            <a routerLink="/profile"
              class="flex items-center px-4 py-2 hover:bg-gray-50 text-gray-700 transition-colors">
              <i class="fa-regular fa-user-circle me-3"></i> Profile
            </a>
          </li>
          <li>
            <a routerLink="/change"
              class="flex items-center px-4 py-2 hover:bg-gray-50 text-gray-700 transition-colors">
              <i class="fa-solid fa-gear me-3"></i> Settings
            </a>
          </li>
          <li class="pt-2">
            <a (click)="logout()"
              class="flex items-center px-4 py-2 text-red-600 hover:bg-red-50 rounded-b-xl cursor-pointer transition-colors">
              <i class="fa-solid fa-arrow-right-from-bracket me-3"></i> Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>